
/*colors
#C63D0F - Red
#3B3738 - black
#FDF3E7 - white
#c1e0d1- blue*/

html body{
  background-color:#FDF3E7;
  height: 100%;
  width: 100%;
  margin: 0;

}
.welcome{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/62/Drip_Coffee_Bangkok.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30em;
  position: absolute;
    left: 0;
    right: 0;
  width:100%;
  z-index: 5;
}

.introPhotos img{
  width: 500px;
}

.introPhotos{
  margin-top: 6em;
  position: absolute;
    top:35em;
  z-index: 10;
}

button{
  text-align: center;
}

p{
  color:#3B3738;
}

h1{
  color:#FDF3E7;
  text-align: center;
  vertical-align: middle;
}



footer ul{
  list-style-type: none;
  text-align: center;
}

footer{
  background-color:#c1e0d1;
  height: 11em;
  position: absolute;
    top: 70em;
    left: 0;
    right: 0;
    bottom:0;
  width:100%;
  z-index: 20;
 }

footer a{
  color:#3B3738;
  text-decoration: none;
}

footer a:hover{
  color:gray;
  text-decoration: none;
}

.footer-copyright{
  background-color: #C63D0F;
  padding: 1em;
  color:#FDF3E7;
}

.footer-copyright a{
 color:#FDF3E7
}