
/*colors
#C63D0F - Red
#3B3738 - black
#FDF3E7 - white
#c1e0d1- blue*/

html, body{
  background-color:#F7F7F7;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding:0;

    background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);

}

/*navigation*/

nav li a{
  color: #3B3738;
  text-decoration: none;
}

nav li a:visited{
  color: #3B3738;
  text-decoration: none;
}

.navbar-brand{
  color: #3B3738;
  text-decoration: none;
}

/*HOMEPAGE*/

.welcome{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/62/Drip_Coffee_Bangkok.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 400px;
  position: absolute;
    left: 0;
    right: 0;
  width:100%;
  z-index: 5;
}

.welcomeText{
  position:relative;
    top: 2em;
}

@media only screen and (max-width: 440px) {
  .welcomeText h1{
    font-size: 75px;
  }
  .welcomeText button{
    font-size: 12px;
  }
}

.description h4{
  padding-bottom: 100px;
}

.description{
  z-index: 5;
  position: absolute;
    top:35em;
  margin-top: 3em;
  text-align: center;

}

.introPhotos img{
  width: 500px;

}
@media only screen and (max-width: 990px) {
  .introPhotos{
    display: block;
    margin-right: auto;
    margin-left: auto;


}}

.introPhotos{
  margin-top: 6em;
  position: absolute;
    top:38em;
  z-index: 10;
}

.introBlock{
    background-color: white;
    padding-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width:32%;
}

button{
  text-align: center;
  width: 25%;
  height:10%;
}



h1{
  color:#FDF3E7;
  position: relative;
  text-align: center;
    top:20%;
  vertical-align: middle;
  font-size: 100px;
  line-height: 76px;
  margin: 0, 5px;
}



/*ABOUT COFFEE SECTION*/

.header{
  background-image: url(https://images.unsplash.com/photo-1455267847942-f4fdb784f0c5?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb);
  height:400px;
  background-position: center center;
}
 .roasting{
  margin: 40px auto;
  padding: 20px 30px 40px 30px;
  background-color: #FFFFFFFFF;
  overflow: auto;
  width: 75%;
  border-radius:4px;
  align-self: center;
 }

 .roasting p{
  text-align: center;
  line-height: 24px;
  font-family:'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
 }

 .roasting h1{
  font-size: 4em;
}

.roasting h2{
  color:#E4BB97;
  font-size: 28px;
  font-weight:500;
  text-align: left;
  text-transform: uppercase;
}

 .roasting h4{
  font-size: 28px;
  font-weight: 700;
  line-height: 1em;
}

.roasting h5{
  font-size: 20px;
  line-height: 1em;
  font-weight: 200;
}

p{
  color:#3B3738;
}

 .spectrum div{
  font:inherit;
  padding:0 20px;
  color: #FDF3E7;
  overflow: auto;
  opacity: 0.9;

 }

 .spectrum p{
  text-align: left;
 }

 .green{
  background-color: #9EB599;
 }

 .light{
  background-color: #683C2C;
 }

 .city{
  background-color: #4C352D;
 }

 .vienna{
  background-color: #352926;
 }

 .italian{
  background-color: #141212;
 }

.regions ul{
  margin: 0 auto;
  padding: 0;
  width:75%;
}

.regions li{
  border-bottom: 1px solid #3B3738;
  list-style: none;
  margin: 100px 0px;
  padding-bottom: 60px

}

.regions, .roasting p{
  color: #3B3738;
  line-height: 32px;
  font-size: 20px;
  font-weight: 100;
}

.spectrum p{
  color: #FDF3E7;
}

a{
  color:#214E34;
  font-size: 13px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

/*#C63D0F - Red
#3B3738 - black
#FDF3E7 - white
#c1e0d1- blue*/*/


/*CONTACT PAGE*/
.contactBox{
}

.contactBox ul{
   text-align: center;
    background-color: #FDF3E7;
    border: 5px solid #c1e0d1;
    height:5em;
    line-height: 5em;
    width: 100%;
    text-align: center;
}

.contactBox li{
  list-style: none;
  display: inline;
  padding: 1em;
  color: #C63D0F;
}

.contactBox li a{
  color: #C63D0F;
}

@media only screen and (max-width: 410px) {
  .contactBox li{
    padding: 0.5em;
    text-align: left;
    }}

.mapsPack{
padding: 3em;
display: inline-block;
}

.contactInfo{
  padding-left: 5em;
}

@media only screen and (max-width: 991px) {
  .contactInfo{
  padding-left: 0;
    }}


/*FOOTER SECTION*/

footer ul{
  list-style-type: none;
  text-align: center;
}

footer{
  background-color:#c1e0d1;
  height: 11em;
  position: absolute;
    top: 70em;
    left: 0;
    right: 0;
    bottom:0;
  z-index: 20;
 }

@media only screen and (max-width: 990px) {
  footer{
    height: 15em;
  position: absolute;
    top: 125em;
    }}

@media only screen and (max-width: 430px) {
  footer{
  position: absolute;
    top: 120em;
    }}

 @media only screen and (max-width: 990px){
 .introBlock{
    margin-left: 0px;
    margin-right: 0px;
    width:100%;
}}

footer a{
  color:#3B3738;
  text-decoration: none;
}

footer a:hover{
  color:gray;
  text-decoration: none;
}

.footer-copyright{
  background-color: #C63D0F;
  padding: 1em;
  color:#FDF3E7;
}

.footer-copyright a{
 color:#FDF3E7
}

.footerLinkHead .footerLinks{
  text-align: left;
}