
/*colors
#C63D0F - Red
#3B3738 - black
#FDF3E7 - white
#c1e0d1- blue*/

html body{
  background-color:#FDF3E7;
  height: 100%;
  width: 100%;
  margin: 0;

}
.welcome{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/62/Drip_Coffee_Bangkok.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30em;
  position: absolute;
    left: 0;
    right: 0;
  width:100%;
  z-index: 5;
}

.description{
  z-index: 5;
  position: absolute;
    top:35em;
}

.introPhotos img{
  width: 500px;

}
@media only screen and (max-width: 990px) {
  .introPhotos{
    display: block;
    margin-right: auto;
    margin-left: auto;

}}

.introPhotos{
  margin-top: 6em;
  position: absolute;
    top:35em;
  z-index: 10;
}

.introBlock{
    background-color: white;
    padding-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width:32%;
}

button{
  text-align: center;
}

p{
  color:#3B3738;
}

h1{
  color:#FDF3E7;
  text-align: center;
  vertical-align: middle;
}



footer ul{
  list-style-type: none;
  text-align: center;
}

footer{
  background-color:#c1e0d1;
  height: 11em;
  position: absolute;
    top: 70em;
    left: 0;
    right: 0;
    bottom:0;
  width:100%;
  z-index: 20;
 }

@media only screen and (max-width: 990px) {
  footer{
    height: 15em;
  position: absolute;
    top: 125em;
    }}


 @media only screen and (max-width: 990px){
 .introBlock{
    margin-left: 0px;
    margin-right: 0px;
    width:100%;
}}

footer a{
  color:#3B3738;
  text-decoration: none;
}

footer a:hover{
  color:gray;
  text-decoration: none;
}

.footer-copyright{
  background-color: #C63D0F;
  padding: 1em;
  color:#FDF3E7;
}

.footer-copyright a{
 color:#FDF3E7
}

.footerLinkHead .footerLinks{
  text-align: left;
}